<!doctype html>
<html lang="en">

<head>
  <title>Suivix - Maintenance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="pD8Y8KjKegiGB6zmfBozXsxDdjvcVeC1ONd7pa9qag8" />
  <meta name="description"
    content="We apologize for the inconvenience but Suivix is currently offline.">
  <meta property="og:image" content="https://suivix.xyz/ressources/header.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image:width" content="1920" />
  <meta property="og:image:height" content="1080" />
  <meta property="og:site_name" content="suivix.xyz" />

  <link href="/images/icon.ico" rel="shortcut icon" />
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <section style="height: 100vh;">
    <div class="container centered" style="width: 80vw;">
      <div class="div-1">
        <img src="/images/maintenance.svg" class="question pc-content">
      </div>
      <div class="div-2">
        <div class="description">
          <h1 class="title">
            Maintenance
          </h1>
          <div class="text">
            We apologize for the inconvenience but Suivix is currently offline. You'll be able to find more informations on <a href="https://discord.gg/xRNEzGM">its official Discord server</a>.
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108500515-2');
  </script>

</body>

</html>