<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Suivix & Paull - Create A Poll</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="You are a professor or maybe even a business manager and you want to take attendance on Discord. No worries! Suivix will take care of it for you.">
    <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/paull-main.css">
    <link href="/css/select2.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="/js/jqueryui.js"></script>
    <script src="/utils/Utils.js"></script>
    <script src="/utils/paull.js"></script>
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <script>
        window.onerror = function () {
            location.reload();
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-108500515-2');
    </script>
</head>

<body>
    <div class="navbar">
        <a href="/" class="nav-link"><var class="title">SUIVIX</var><var class="collab"> x Paull</var></a>
        <a href="/auth/logout?redirectTo=/" class="user" title="Sign out"><i class="fas fa-sign-out-alt"></i></a>
        <div class="loading-image" id="user-loader-image"></div>
        <div style="width: 150px;" class="loading-text" id="user-loader"></div>
        <p class="user" id="user-infos">
            <var id="username"></var><var class="discriminator" id="discriminator"></var><img class="avatar" id="avatar"
                src=""></p>
    </div>
    <div class="container">
        <var id="requestID" style="display:none"></var>
        <div class="paull-card smooth-corners" id="card">
            <div class="content">
                <div class="header">
                    <img src="/ressources/paull.png" class="logo">
                    <h1 class="title">CREATE A POLL</h1>
                    <p class="description">By default, your poll will not expire until you click on the result reaction.
                    </p>
                </div>
                <p class="select-info">Type your poll subject here:</p>
                <div class="textarea-container">
                    <input class="textarea large" id="poll-subject" type="text" placeholder="Poll Subject" minlength="4"
                        maxlength="256" />
                </div>
                <p class="select-info">Define how long your poll will last:</p>
                <div class="textarea-container">
                    <input class="textarea small" onkeypress='validate(event)' id="poll-duration-hours" type="text"
                        placeholder="Hours" minlength="0" maxlength="4" />
                    <input style="margin-left: 2px;" onkeypress='validate(event)' class="textarea small"
                        id="poll-duration-minutes" type="text" placeholder="Minutes" minlength="0" maxlength="2" />
                </div>
                <p class="select-info">Define how many answer your poll will have:</p>
                <div class="textarea-container">
                    <input class="textarea large" onkeypress='validateReactionsNumber(event)' id="poll-reactions-number"
                        type="text" placeholder="Possibilities (min 1 & max 11)" minlength="1" maxlength="2" />
                </div>
                <p class="select-info">Additional Parameters:</p>
                <div class="checkboxes-wrapper">
                    <p class="checkbox">
                        <input type="checkbox" id="public" />
                        <label for="public" aria-describedby="label"><span class="ui"></span><var
                                class="checkbox-option">Public Result?</var></label>
                    <div class="info-box"
                        title="Define if the poll result will be sent in private message or displayed in the channel were the poll has been initialized.">
                        <i class="fas fa-info-circle"></i></div>
                    </p>
                </div>
                <div class="button">
                    <button class="btn white-btn m-right " onclick="clearSelection() " title="Clear my selection "><i
                            class="fas fa-redo-alt "></i></button>
                    <button class="btn black-btn " onclick="deleteRequest('paull') " title="Delete this poll request "><i
                            class="fas fa-times "></i></button>
                    <button class="btn blue-btn m-left "
                        onclick="doAttendance(document.getElementById('requestID').innerHTML);"
                        title="Take Attendance "><i class="fas fa-check "></i></button>
                    <div id="loading"></div>
                </div>
            </div>
        </div>

        <div class="paull-card paull-prev less-smooth-corners" id="card">
            <div class="content">
                <div class="channelHeader">
                    <div class="server-icon" style="background-image: url(/ressources/paull-2.png); "></div>
                    <div class="channelNameSection">
                        <h3 class="channelNameHeader">
                            <div class="channelName">#📖polls</div>
                            <div class="prev-info">(🧐 Preview)</div>
                        </h3>
                        <div class="categoryName">Create your poll</div>
                    </div>
                </div>
                <div class="message-container">
                    <div class="preview-container">
                        <div class="grid">
                            <div class="title" id="poll-subject-dest">What's up?</div>
                            <div class="description">This poll is only available for <span class="mention" style="color:#7289da;background: rgba(114, 137, 218, .1);">@everyone</span>.<br>You have <strong><var id="duration-hours">00h</var><var id="duration-minutes">00min</var></strong> left to answer.<br>-<br>Utilisez les réactions ci-dessous pour répondre à la question. Utilisez la réaction <img src="/icons/list.svg" class="paull-list"> pour visionner les résultats si vous êtes l'initiateur du sondage.</div>
                        </div>
                    </div>
                    <div class="reactions-container">
                    </div>
                </div>
                <p class="prev-infos">This a preview of what your poll will look like. Change the settings above and on
                    the right window to modify it.</p>
                <div class="options">
                    <p class="select-info">Select the channel in which the poll will be sent:</p>
                    <div class="select-custom" id="select-channels">
                        <div style="width: 100%; " class="loading-select "></div>
                    </div>
                    <p class="select-info">Select the roles which define which user can answer:</p>
                    <div class="select-custom" id="select-roles">
                        <div style="width: 100%; " class="loading-select "></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer ">
        <p class="credits ">Made with <var class="systemui-emoji ">♥</var> by MΛX & Drapht</p>
    </div>
</body>
<script>
    initPaull("en");
</script>

</html>