/*! CSS Used fontfaces */

@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(../fonts/300.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(../fonts/400.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(../fonts/500.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(../fonts/600.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(../fonts/700.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "color-emoji";
    src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
    font-display: swap;
}

.systemui-emoji {
    font-family: system-ui, color-emoji;
    color: #ed5e68;
}

.emoji {
    height: 20px;
    vertical-align: middle;
}

* {
    font-family: Whitney;
    margin: 0px;
}

var {
    font-style: normal;
}

body {
    height: 100vh;
    background-image: url(/ressources/backgrounds/attendance-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

.accountType {
    border-radius: 4px;
    padding: 2px 5px;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    position: absolute;
    bottom: 25px;
    right: -3px;
}

.userImageContainer {
    position: relative;
    text-align: center;
}

.loading-text {
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(32,34,37) 0%, rgb(32,34,37) 40%, rgb(54, 56, 59) 50%, rgb(32,34,37) 60%, rgb(32,34,37) 100%) 0% 0% / 400%;
    animation: 0.7s linear 0s infinite normal none running loading;
    vertical-align: middle;
    opacity: 0.5;
    float: right;
}

.loading-select {
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(32,34,37) 0%, rgb(32,34,37) 40%, rgb(54, 56, 59) 50%, rgb(32,34,37) 60%, rgb(32,34,37) 100%) 0% 0% / 400%;
    animation: 0.7s linear 0s infinite normal none running loading;
}

.loading-select span {
    margin-left: 8px;
    margin-right: 8px;
    color: #b9bbbe;
    font-size: 14px;
    line-height: 30px;
}

.loading-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgb(32,34,37) 0%, rgb(32,34,37) 40%, rgb(54, 56, 59) 50%, rgb(32,34,37) 60%, rgb(32,34,37) 100%) 0% 0% / 400%;
    animation: 0.7s linear 0s infinite normal none running loading;
    opacity: 0.5;
    float: right;
    margin-left: 5px;
}

.loading-user-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgb(60, 66, 69) 0%, rgb(60, 66, 69) 40%, rgb(66, 73, 76) 50%, rgb(60, 66, 69) 60%, rgb(60, 66, 69) 100%) 0% 0% / 400%;
    animation: 0.7s linear 0s infinite normal none running loading;
    opacity: 0.5;
    margin: 10px
}

#user-infos {
    display: none;
}

#select-loading {
    display: none;
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    height: 25px;
    padding: 15px 10%;
    white-space: nowrap;
    background: #191a1d;
    z-index: 350;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.navbar .title {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
}

.navbar .language {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    float: right;
}

.navbar .language:hover {
    opacity: 0.9;
}

.navbar .margin {
    margin-right: 75px;
}

.navbar .margin-15 {
    margin-right: 5px;
}

.user img {
    display: inline;
    max-height: 25px;
    border-radius: 100%;
    float: right;
}

.user {
    display: inline;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    margin-left: 10px;
    float: right;
    border-radius: 8px;
}

#discriminator {
    margin-right: 10px;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.container .attendance-card {
    position: relative;
    min-width: 350px;
    max-width: 400px;
    min-height: 550px;
    max-height: 1000px;
    background-color: #36393f;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

.container .rectangle-card {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    min-width: 300px;
    max-width: 500px;
    background-color: #36393f;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

.content {
    padding: 12px 22px;
}

.content .header {
    margin-bottom: 25px;
    max-width: 100%;
}

.content .header .logo {
    max-width: 125px;
    margin: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: float 6s ease-in-out infinite;
    border-radius: 150px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.content .header .big-logo {
    max-width: 150px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: float 6s ease-in-out infinite;
    border-radius: 150px;
}

.content .header .full-logo {
    max-width: 90%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content .header .title {
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.content .header .description {
    color: #b9bbbe;
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
}

.content .infos .expiresIn {
    color: #fff;
    font-size: 14px;
    text-align: left;
    display: inline;
    vertical-align: middle;
}

.content .infos .select {
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.content .select-custom {
    margin-top: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
}

.separator {
    margin-bottom: 6px;
}

button {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    color: #fff;
}

.btn {
    border-radius: 100%;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    outline: 0 !important;
    outline-offset: 0 !important;
    transition: 0.6s;
    font-size: 14px;
    height: 45px;
    width: 45px;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.margin-top-5 {
    margin-top: 5px;
}

.blue-btn {
    background: #7289DA;
    background-size: 200%;
}

.white-btn {
    background: #fff;
    color: #131615;
}

.black-btn {
    background: #222326;
}

.m-left {
    margin-left: 5px;
}

.m-right {
    margin-right: 5px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-5px);
    }

    100% {
        transform: translatey(0px);
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(8px, 0, 0);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    left: 0;
}

#loading {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    display: none;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.text-separator {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #b9bbbe;
    margin-top: 8px;
    margin-bottom: 6px;
}

.servers-container {
    height: 160px;
    position: relative;
    right: -6px;
}

.servers-container .servers {
    max-height: 100%;
    overflow: auto;
}

.servers-container .servers .server-card {
    background-color: #202225;
    padding: 8px 16px;
    border-radius: 6px;
    height: 35px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.server-card .loading-text {
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(60, 66, 69) 0%, rgb(60, 66, 69) 40%, rgb(66, 73, 76) 50%, rgb(60, 66, 69) 60%, rgb(60, 66, 69) 100%) 0% 0% / 400%;
    animation: 0.7s linear 0s infinite normal none running loading;
    float: left;
    vertical-align: middle;
    opacity: 0.5;
}

.server-card .loading-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgb(60, 66, 69) 0%, rgb(60, 66, 69) 40%, rgb(66, 73, 76) 50%, rgb(60, 66, 69) 60%, rgb(60, 66, 69) 100%) 0% 0% / 400%;
    animation: 0.7s linear 0s infinite normal none running loading;
    opacity: 0.5;
    float: right;
    margin-left: 5px;
}

.servers-container .servers .server-card:hover {
    background-color: #1c1e21;
    transform: scale(0.98, 0.98);
}

.servers-container .servers .server-card:hover .server-icon {
    border-radius: 12px;
}

.servers-container .servers .server-card:hover .server-name {
    font-weight: 500;
}

.servers-container .servers .server-card:hover .add {
    background-color: #7289DA;
}

.servers-container .servers .server-card:hover .plusIcon {
    display: none;
}

.servers-container .servers .server-card .add .goIcon {
    display: none;
    font-size: 20px;
}

.servers-container .servers .server-card:hover .goIcon {
    display: block;
}

.servers-container .servers .server-card img {
    display: inline-block;
    height: 100%;
    max-height: 35px;
    float: right;
    vertical-align: middle;
    border-radius: 100px;
    transition: 0.3s;
}

.servers-container .servers .server-card p {
    font-size: 16px;
    line-height: 35px;
    color: #fff;
    vertical-align: middle;
    display: inline;
}

.down {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    animation: float 3s ease-out infinite;
}

.servers-container .servers .server-card .add {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 100px;
    background-color: #343a40;
    border-color: #343a40;
    padding: 5px 5px;
    font-size: 12px;
    margin-left: 5px;
    max-height: 35px;
    max-width: 35px;
    float: right;
    transition: 0.4s;
}

.servers-container .servers .server-card .add:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

::-webkit-scrollbar-track {
    background-color: #36393f
}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-thumb {
    background-color: #202225;
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
    max-height: 15px;
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.normal-button {
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition-property: background-color, color, box-shadow, mix-blend-mode;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    border: none;
    line-break: strict;
    transition: 0.3s;
}

.normal-button .content {
    margin: 0 auto;
    display: inline;
    vertical-align: top;
}

.buttonLarge {
    line-height: 18px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.buttonSmall {
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
}

.buttonIcon {
    margin-right: 16px;
}

.buttonSmallIcon {
    margin-right: 8px
}

.buttonIconImage {
    max-height: 22px;
    max-width: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.buttonLogin:hover {
    background-color:#1b1c1e;
    transform: scale(0.99, 0.99);
}

.buttonHover:hover {
    background-color:#1b1c1e;
    transform: scale(0.99, 0.99);
}

.buttonLogin:hover .buttonLock1 {
    display: none;
}

.buttonLogin:hover .buttonLock2 {
    display: inline;
}

.buttonLock1 {
    display: inline;
}

.buttonLock2 {
    display: none;
}

.buttonSeparator {
    margin-top: 10px;
}

@media (max-height: 700px) {
    .footer {
        display: none;
    }

    .container {
        margin: 15px auto !important;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset;
        transform: none;
        margin: 15% auto;
    }

    .container .attendance-card {
        width: 95vw;
        max-width: 400px;
    }

    .container .rectangle-card {
        margin-top: 10%;
        width: 95vw;
        max-width: 400px;
    }

    .content .header {
        margin-bottom: 25px;
    }

    .content .header .logo {
        max-width: 125px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        animation: float 6s ease-in-out infinite;
    }

    .content .header .title {
        color: #fff;
        font-size: 26px;
        text-align: center;
    }

    .content .header .description {
        color: #b9bbbe;
        font-size: 14px;
        text-align: center;
    }

    .content .infos .expiresIn {
        color: #fff;
        font-size: 11px;
        text-align: left;
    }

    .content .infos .select {
        color: #fff;
        font-size: 12px;
        text-align: left;
        font-weight: 500;
    }

    .servers-container .servers .server-card p {
        font-size: 14px;
    }

    #username,
    #discriminator,
    #user-loader,
    .loading-image {
        display: none;
    }

    #cookies {
        display: none;
    }

    .navbar .margin {
        margin-right: 5px;
    }

}

@media only screen and (max-width: 800px) {
    .select2-users {
        display: none;
    }
}