<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Suivix - Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="You are a professor or maybe even a business manager and you want to take attendance on Discord. No worries! Suivix will take care of it for you.">
  <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/css/attendance.css">
</head>

<body>
  <div class="navbar">
    <a class="logo" href="/"><img src="/images/logo.png" alt="logo"></a>
    <a class="button buttonGrey buttonSmall buttonUser isVisible" href="/auth/login">Login</a>
    <a class="button buttonGrey buttonRound isVisible" href="/"><i class="fas fa-home"></i></a>
    <a class="button buttonSmall buttonLanguage" href="?language=fr"><i
            class="fas fa-globe-americas buttonSmallIcon"></i>Français</a>
</div>
  <div class="container">
    <div class="attendance-card" id="card">
      <div class="content">
        <div class="header">
          <img src="/icons/login.png" class="big-logo" style="border-radius: 0 !important;">
          <h1 class="title">You're not logged in</h1>
          <div class="separator centered" style="width: 125px"></div>
          <p class="description" id="attendance-desc">You must login into your Discord account to use Suivix. You might
            get disconnected if you don't use Suivix for too long.</p>
        </div>
        <div class="centered" style="margin-top: 125px;">
          <button class="normal-button buttonLarge black-btn buttonLogin buttonSeparator"
            onclick="redirect('LOGIN_REDIRECT')" title="Login with Discord">
            <p class="content">
              <img src="/icons/lock.png" class="buttonIconImage buttonLock1">
              <img src="/icons/unlock.png" class="buttonIconImage buttonLock2">
              Login with Discord</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer ">
    <p class="credits ">Made with <var class="systemui-emoji ">♥</var> by MΛX</p>
  </div>
  <div id="cookies"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/utils/Utils.js"></script>
  <script>
    (function () {
        var css = document.createElement('link');
        css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
        css.rel = 'stylesheet';
        css.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(css);
    })();
</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-108500515-2');
  </script>

  <script>
    askCookies("en");
  </script>

</body>

</html>