<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Suivix - Attendance Request</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="You are a professor or maybe even a business manager and you want to take attendance on Discord. No worries! Suivix will take care of it for you.">
    <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/attendance-main.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link href="/css/select2.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="/js/jqueryui.js"></script>
    <script src="/utils/Utils.js"></script>
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-108500515-2');
    </script>
</head>

<body>
    <div class="overlay" style="display: none;" id="overlay">
        <div class="popup">
            <div class="centered"><img class="news" src="/img/news.svg"></div>
            <div class="title centered margin-top">Version <var id="version">Unknown</var></div>
            <div class="changelog centered"><var id="changelogText">Unable to fetch changelog.</var></div>
            <div id="close"><i class="fas fa-times-circle"></i></div>
            <p class="close-info centered">Close this popup by clicking on the "x" icon in the top right corner.</p>
        </div>
    </div>
    <div class="overlay" style="display: none;" id="statement">
        <div class="popup">
            <div class="centered"><img class="warning" src="/icons/error-warning.svg"></div>
            <div class="title centered margin-top" id="statement-title"></div>
            <div class="changelog centered"><var id="statement-description"></var></div>

            <div class="options statement-buttons">
                <div class="option" id="warning-button" onclick="closePopup('statement');" style="display: none;">
                    <img class="emoji" src="/icons/thumbsup.png">
                    <div class="optionTitle">I understand</div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                        height="24">
                        <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                </div>
                <div class="option" id="redirect-button" onclick="redirect('SERVERS_SELECTION');"
                    style="display: none;">
                    <img class="emoji notRound" src="/icons/servers.png">
                    <div class="optionTitle">Select another server</div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                        height="24">
                        <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                </div>
                <div class="option" id="newRequest" style="display: none;">
                    <img class="emoji notRound" src="/icons/redo.png">
                    <div class="optionTitle">Take attendance again</div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                        height="24">
                        <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                </div>
            </div>
            <div class="help" id="support-option" style="display: none;">NEED SOME HELP?</div>
            <div class="options" id="support-option1" style="display: none;">
                <div class="option" onClick="redirect('API_SUPPORT_URL')">
                    <img class="emoji" src="/ressources/support-icon.png">
                    <div class="optionTitle">Join Suivix Support server</div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                        height="24">
                        <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <a href="/" class="title">SUIVIX</a>
        <a href="/auth/logout?redirectTo=/" class="user" title="Sign out"><i class="fas fa-sign-out-alt"></i></a>
        <div class="loading-image" id="user-loader-image"></div>
        <div style="width: 150px;" class="loading-text" id="user-loader"></div>
        <p class="user" id="user-infos">
            <var id="username"></var><var class="discriminator" id="discriminator"></var><img class="avatar"
                id="avatar"></p>
        <a href="?language=fr" class="language margin">FR.</a>
        <a href="javascript:void(0)" class="language margin-15">EN.</a>
    </div>
    <div class="container">
        <div class="attendance-card" id="card">
            <div class="content">
                <div class="header">
                    <img src="/images/suivix.png" class="logo">
                    <h1 class="title">TAKE ATTENDANCE</h1>
                    <p class="description">Suivix allows you to use multiple channels and roles to match most of the
                        situations.</p>
                </div>
                <div class="infos ">
                    <img src="/icons/clock.svg" class="emoji"></img>
                    <p class="expiresIn"> This attendance request will expire in 1h.</p>
                    <p class="select ">Select your channels and roles below:</p>
                </div>
                <div class="select-custom" id="select-channels">
                    <div style="width: 100%; " class="loading-select "></div>
                </div>
                <div class="select-custom" id="select-roles">
                    <div style="width: 100%; " class="loading-select "></div>
                </div>
                <div class="infos margin-top-5">
                    <p class="select">Select your timezone:</p>
                </div>
                <div class="select-custom" id="select-timezone">
                    <div style="width: 100%; " class="loading-select "></div>
                </div>
                <div class="button">
                    <button class="btn white-btn m-right " onclick="clearSelection() " title="Clear my selection "><i
                            class="fas fa-redo-alt "></i></button>
                    <button class="btn black-btn " onclick="deleteRequest()" title="Delete this attendance request "><i
                            class="fas fa-times "></i></button>
                    <button class="btn blue-btn m-left " onclick="doAttendance();" title="Take Attendance "><i
                            class="fas fa-check "></i></button>
                    <div id="loading"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer ">
        <p class="credits ">Made with <var class="systemui-emoji ">♥</var> by MΛX</p>
    </div>
</body>
<script>
    initAttendance("en");
</script>

</html>