<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Suivix - Abonnement</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Vous êtes professeur ou peut-être même chef d'entreprise et vous voulez faire l'appel sur discord ? Pas de soucis ! Suivix s'en occupe pour vous.">
  <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/css/attendance.css">
</head>

<body>
  <div class="navbar">
    <a href="/" class="title">SUIVIX</a>
    <a href="?language=fr" class="language margin">FR.</a>
    <a href="?language=en" class="language margin-15">EN.</a>
  </div>
  <div class="container">
    <div class="rectangle-card">
      <div class="content">
        <div class="header">
          <img src='/icons/money.png' class="full-logo">
          <h1 class="title">Cette fonction n'est pas encore publique.</h1>
          <div class="separator centered" style="width: 125px"></div>
          <p class="description" id="attendance-desc">La fonction que vous avez essayé d'utiliser est <strong>seulement
              disponible pour les "Testeurs"</strong>. Suivix est un bot Discord gratuit. Par conséquent, si vous
            souhaitez <strong>accéder aux nouvelles fonctionnalités avant leur date de sortie</strong>, veuillez
            envisager de soutenir l'hébergement et le développement du bot en faisant un don <strong> de
              1,99€/mois</strong>.</p>
        </div>
        <div class="centered" style="margin-top: 25px;">
          <button class="normal-button buttonLarge black-btn buttonLogin buttonSeparator"
            onclick="window.open('https://www.patreon.com/mw3y')">
            <p class="content">
              <img src="/icons/lock.png" class="buttonIconImage buttonLock1">
              <img src="/icons/unlock.png" class="buttonIconImage buttonLock2">
              Je veux soutenir l'hébergement et le développement de Suivix</p>
          </button>
          <button class="normal-button buttonLarge black-btn buttonHover buttonSeparator"
            onclick="redirect('ATTENDANCE_PAGE')">
            <p class="content">
              <img src="/icons/redo.png" class="buttonIconImage buttonLock1">
              Je veux juste faire un suivi</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer ">
    <p class="credits ">Made with <var class="systemui-emoji ">♥</var> by MΛX</p>
  </div>
  <div id="cookies"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/utils/Utils.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-108500515-2');
  </script>

  <script>
    askCookies("en");
  </script>

</body>

</html>