<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Suivix - Create a Poll</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="You are a professor or maybe even a business manager and you want to take attendance on Discord. No worries! Suivix will take care of it for you.">
    <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/attendance.css">
    <link rel="stylesheet" href="/css/poll.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/microtip.css">
    <link href="/css/select2.css" rel="stylesheet" />
</head>

<body>
    <div class="overlay" style="display: none;" id="overlay">
        <div class="popup-center">
            <div class="popup">
                <div class="centered"><img class="news" src="/img/news.svg"></div>
                <div class="title centered margin-top">Version <var id="version">Unknown</var></div>
                <div class="changelog centered"><var id="changelogText">Unable to fetch changelog.</var></div>
                <div id="close"><i class="fas fa-times-circle"></i></div>
                <p class="close-info centered">Close this popup by clicking on the "x" icon in the top right corner.</p>
            </div>
        </div>
    </div>
    <div class="overlay" style="display: none;" id="statement">
        <div class="popup-center">
            <div class="popup">
                <div class="centered"><img class="warning" src="/icons/error-warning.svg"></div>
                <div class="title centered margin-top" id="statement-title"></div>
                <div class="changelog centered"><var id="statement-description"></var></div>

                <div class="options statement-buttons">
                    <div class="option" id="warning-button" onclick="closePopup('statement');" style="display: none;">
                        <img class="emoji" src="/icons/thumbsup.png">
                        <div class="optionTitle">I understand</div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                            height="24">
                            <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                    </div>
                    <div class="option" id="redirect-button" onclick="redirect('SERVERS_SELECTION');"
                        style="display: none;">
                        <img class="emoji notRound" src="/icons/servers.png">
                        <div class="optionTitle">Select another server</div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                            height="24">
                            <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                    </div>
                    <div class="option" id="newRequest" style="display: none;">
                        <img class="emoji notRound" src="/icons/redo.png">
                        <div class="optionTitle">Create another poll</div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                            height="24">
                            <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                    </div>
                </div>
                <div class="help" id="support-option" style="display: none;">NEED SOME HELP?</div>
                <div class="options" id="support-option1" style="display: none;">
                    <div class="option" onClick="redirect('API_SUPPORT_URL')">
                        <img class="emoji" src="/ressources/support-icon.png">
                        <div class="optionTitle">Join Suivix Support server</div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="optionArrow" viewBox="0 0 24 24" width="24"
                            height="24">
                            <path aria-hidden="true" fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" d="M 7 10 L 12 15 L 17 10" /></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <a class="logo" href="/"><img src="/images/logo.png" alt="logo"></a>
        <a class="button buttonGrey buttonSmall buttonUser isVisible" href="/auth/login">Login</a>
        <a class="button buttonGrey buttonRound isVisible" href="/"><i class="fas fa-home"></i></a>
        <a class="button buttonSmall buttonLanguage" href="?language=fr"><i
                class="fas fa-globe-americas buttonSmallIcon"></i>Français</a>
    </div>
    <div class="container">
        <div class="poll-card" id="card">
            <div class="content">
                <div class="header">
                    <img src="/icons/poll.jpg" class="logo">
                    <h1 class="title">Create a poll</h1>
                    <div class="separator centered" style="width: 125px"></div>
                    <p class="description">Your subject must be under 240 characters and your description under 600.</p>
                </div>
                <div class="select-custom" id="select-roles">
                    <div style="width: 100%; " class="loading-select"
                        aria-label="🔄 Please wait while the roles list is being loaded." data-microtip-position="top"
                        role="tooltip"><span>Who can answer the poll?</span></div>
                </div>
                <div class="select-custom" id="select-channels">
                    <div style="width: 100%; " class="loading-select"
                        aria-label="🔄 Please wait while the channels list is being loaded."
                        data-microtip-position="top" role="tooltip"><span>Where will the poll be send?</span></div>
                </div>
                <textarea class="pollSubject" id="subject" placeholder="The poll subject" type="text" minlength="4"
                    maxlength="240"></textarea>
                <textarea class="pollDescription" id="description" onkeyup="textAreaAdjust(this)"
                    placeholder="The poll description (Optional)" type="text" minlength="4" maxlength="600"></textarea>
                <div class="rows">
                    <div class="left-row checkboxContainer" aria-label="Will the poll participants be anonymous?"
                        data-microtip-position="top" role="tooltip">
                        <input type="checkbox" checked='true' id="anonymous" value="Anonymous?"><label
                            for="anonymous">Anonymous?</label>
                    </div>
                    <div class="middle-row checkboxContainer" aria-label="Will everyone be able to see the result?"
                        data-microtip-position="top" role="tooltip">
                        <input type="checkbox" id="publicResult" value="Public Result?"><label for="publicResult">Public
                            Result?</label>
                    </div>
                    <div class="right-row checkboxContainer"
                        aria-label="The number of answers to the poll. (maximum: 10)" data-microtip-position="top"
                        role="tooltip">
                        <div class="numbersArea" id="answers" contenteditable="true" placeholder="Answers" nopaste
                            onlynumbers></div>
                    </div>
                    <div class="right-row checkboxContainer"
                        aria-label="How long the poll will last (in minutes, minimum: 1)." data-microtip-position="top"
                        role="tooltip">
                        <div class="numbersArea" id="duration" contenteditable="true" placeholder="Duration (min)"
                            nopaste onlynumbers></div>
                    </div>
                </div>
                <div class="button">
                    <button class="btn white-btn m-right " onclick="clearPollSelection()"
                        aria-label="🔄 Clear the selection" data-microtip-position="top" role="tooltip"><i
                            class="fas fa-redo-alt "></i></button>
                    <button class="btn black-btn " onclick="deleteRequest('poll')"
                        aria-label="❌ Delete this poll request" data-microtip-position="top" role="tooltip"><i
                            class="fas fa-times "></i></button>
                    <button class="btn blue-btn m-left " onclick="createPoll();" aria-label="✅ Create the poll"
                        data-microtip-position="top" role="tooltip"><i class="fas fa-check "></i></button>
                    <div id="loading"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer ">
        <p class="credits ">Made with <var class="systemui-emoji ">♥</var> by MΛX on a concept by Draft</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="/js/jqueryui.js"></script>
    <script src="/utils/Utils.js"></script>
    <script src="/utils/Poll.js"></script>
    <script>
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-108500515-2');
    </script>

    <script>
        initPaull("en");
        displayChangelog("en");
    </script>

</body>

</html>