<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Suivix - Upgrade Account</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="You are a professor or maybe even a business manager and you want to take attendance on Discord. No worries! Suivix will take care of it for you.">
  <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/css/attendance.css">
</head>

<body>
  <div class="navbar">
    <a href="/" class="title">SUIVIX</a>
    <a href="?language=fr" class="language margin">FR.</a>
    <a href="?language=en" class="language margin-15">EN.</a>
  </div>
  <div class="container">
    <div class="rectangle-card">
      <div class="content">
        <div class="header">
          <img src='/icons/money.png' class="full-logo">
          <h1 class="title">This feature has not yet been released to the public.</h1>
          <div class="separator centered" style="width: 125px"></div>
          <p class="description" id="attendance-desc">The feature you've tried to use is <strong>only available for "Testers"</strong>. Suivix is a free Discord bot. Therefore, if you want to <strong>access features before their release date</strong>, please consider supporting the bot hosting and development by donating <strong>at least 1.99€/month</strong>.</p>
        </div>
        <div class="centered" style="margin-top: 25px;">
          <button class="normal-button buttonLarge black-btn buttonLogin buttonSeparator"
            onclick="window.open('https://www.patreon.com/mw3y')">
            <p class="content">
              <img src="/icons/lock.png" class="buttonIconImage buttonLock1">
              <img src="/icons/unlock.png" class="buttonIconImage buttonLock2">
              I want to support Suivix hosting & development</p>
          </button>
          <button class="normal-button buttonLarge black-btn buttonHover buttonSeparator"
          onclick="redirect('ATTENDANCE_PAGE')">
          <p class="content">
            <img src="/icons/redo.png" class="buttonIconImage buttonLock1">
            I just want to take attendance</p>
        </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer ">
    <p class="credits ">Made with <var class="systemui-emoji ">♥</var> by MΛX</p>
  </div>
  <div id="cookies"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/utils/Utils.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-108500515-2');
  </script>

  <script>
    askCookies("en");
  </script>

</body>

</html>